<link rel="stylesheet" href="/static/css/auth.css">
<link rel="stylesheet" href="/static/css/msg.css">


<div class="logo">
    <p class="logo-text">kards</p>
</div>

<form method="post" class="form">

    {% if user == "no" %}
        <div class="msg-error">
            Utilizatorul cu acest email nu există.
        </div>
    {% elif password == "no" %}
        <div class="msg-error">
            Parola introdusă nu este corectă.
        </div>
    {% endif %}
    
    <input type="email" name="email" placeholder="Email" class="form-input form-input-first"><br>
    <input type="password" name="password" placeholder="Parolă" class="form-input form-input-last"><br>

    <div class="interauth-link-container">
        <div class="interauth-link-sizing">
            <a href="/auth/register" class="interauth-link">Nu aveți un cont deja creat? Creați unul aici!</a><br>
        </div>
    </div><br>

    <button type="submit" class="form-button">
        Conectare
    </button>

</form>