:root {
    --form-card-border-width: 0.5vw;
    --form-card-size: 20.75vw;
    --choose-file-button-width: 20%;

    /* colors for the font-color form part */

}

@media only screen and (max-width: 600px) {
    :root {
        --form-card-size: 29vw;
        --form-card-border-width: 1vw;
        --choose-file-button-width: 40%;
    }
}

.form {
    width: 100%;

    display: inline-block;
}

.form-spacer {
    height: 3vh;
    width: 100%;
}

.form-to {
    width: 96%;
    height: 8vh;

    margin-left: 2%;

    outline: none;
    border: 0;

    border-radius: 3.5vh;

    background: var(--gray);

    padding-left: 4vw;
    box-sizing: border-box;

    color: var(--cara-red);

    font-size: 1.15em;
}   

.form-to::placeholder {
    color: var(--cara-red);
}

.indicator {
    width: 100%;
    height: 2vh;

    font-family: "Roboto", sans-serif;
    color: var(--cara-red);
    font-weight: 850;
    
    box-sizing: border-box;
    padding-left: 4%;
    padding-bottom: 4vh;

}

/* form backgrounds */
.form-bgs {
    width: 100%;

    box-sizing: border-box;
    padding-left: 2%;

    display: inline-block;
}

.form-bgs input {
    margin: 0;
    padding: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-bgs input:checked + .form-bgs-card {
    border: var(--form-card-border-width) solid var(--cara-red);
}

.form-bgs-card {
    background-size: 150%;
    background-repeat: no-repeat;

    /* display: inline-block; */

    cursor: pointer;

    box-sizing: border-box;


    width: var(--form-card-size);
    height: var(--form-card-size);

    border: var(--form-card-border-width) solid #fffcc0;

    border-radius: 23px;

    border-top-left-radius: 23px;

    float: left;

    margin-right: 1.5vw;
    margin-bottom: 1vh;

    position: relative;



}

.form-bgs-spacer {
    width: 1vw;
    height: var(--form-card-size);
    display: inline-block;
}

/* form orientation */
.form-orientation {
    width: 100%;
    
    box-sizing: border-box;
    padding-left: 2%;

    display: inline-block;
}

.form-orientation input {
    margin: 0;
    padding: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-orientation-card {
    background-size:100%;
    background-repeat: no-repeat;

    /* display: inline-block; */

    cursor: pointer;

    box-sizing: border-box;


    width: var(--form-card-size);
    height: var(--form-card-size);

    border: var(--form-card-border-width) solid #fffcc0;

    border-radius: 23px;

    float: left;

    margin-right: 2vw;
    margin-bottom: 2vh;
}

.form-orientation input:checked + .form-orientation-card {
    border: var(--form-card-border-width) solid var(--cara-red);
}


/* form file */

.form-file-container {
    width: 100%;
    display: inline-block;

    margin-bottom: 2vh;

    box-sizing: border-box;
    padding-left: 3%;

}

.form-file-input {
    width: 100%;
}

.form-file-input::-ms-browse, .form-file-input::-webkit-file-upload-button {
    background: var(--cara-red);
    width: var(--choose-file-button-width);

    display: inline-block;

    outline: none;
    border: 0;
    border-radius: 26px;

    color: var(--yellow);

    box-sizing: border-box;
    padding: 2vh;

    text-align: center;

    font-family: "Roboto", sans-serif;

    cursor: pointer;
    margin-left: 2vw;

    /* margin-left: calc(calc(100% - var(--choose-file-button-width)) / 2); */
}

/* form message */
.form-message {
    width: 96%;
    height: 8vh;

    margin-left: 2%;

    outline: none;
    border: 0;

    border-radius: 3.5vh;

    background: var(--gray);

    padding-left: 4vw;
    box-sizing: border-box;

    color: var(--cara-red);

    font-size: 1.15em;
}

.form-message::placeholder {
    color: var(--cara-red);
}

/* form color */
.form-color {
    width: 100%;

    padding-left: 2%;
    box-sizing: border-box;

    display: inline-block;

}

.form-color input {
    display: none;
}

.form-color-card {
    /* display: inline-block; */

    cursor: pointer;

    box-sizing: border-box;

    width: var(--form-card-size);
    height: var(--form-card-size);

    border: var(--form-card-border-width) solid #fffcc0;

    border-radius: 23px;

    float: left;

    margin-right: 2vw;
    margin-bottom: 1vh;

    position: relative;

    font-family: "CursiveSans", cursive;
}

.form-color-card-text {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    text-align: center;
    font-size: 1.5em;

    width: 100%;
}

.form-color input:checked + .form-color-card {
    border: var(--form-card-border-width) solid var(--cara-red);
}

/* form font */

.form-font {
    width: 100%;

    display: inline-block;

    box-sizing: border-box;
    padding-left: 2vw;

    margin-bottom: 2vh;

}

.form-font input {
    display: none;
}

.form-font-card {
    /* display: inline-block; */

    cursor: pointer;

    box-sizing: border-box;

    width: var(--form-card-size);
    height: var(--form-card-size);

    border: var(--form-card-border-width) solid #fffcc0;

    border-radius: 23px;

    float: left;

    margin-right: 2vw;
    margin-bottom: 1vh;

    position: relative;

    font-family: "Gingerbread", cursive;

    color: var(--cara-red);
}

.form-font-card-text {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    text-align: center;
    font-size: 1.5em;

    width: 100%;

}

.form-font input:checked + .form-font-card {
    border: var(--form-card-border-width) solid var(--cara-red);
}

/* form-button-submit */
.form-button-submit-container {
    width: 100%;
    height: auto;
    background: green;
}

.form-button-submit {
    width: var(--choose-file-button-width);
    height: 7vh;

    cursor: pointer;

    outline: none;
    border: 0;

    border-radius: 26vh;

    background: var(--cara-red);

    color: white;

    margin-left: calc(calc(100% - var(--choose-file-button-width)) / 2);

    font-family: 'Roboto', sans-serif;
}

