@font-face {
    font-family: "Allura";
    src: url('/static/fonts/Allura.woff') format('woff');
    font-display: fallback;
}

@font-face {
    font-family: 'Caveat';
    src: url('/static/fonts/Caveat.woff') format('woff');
    font-display: fallback;
}

@font-face {
    font-family: 'Choko';
    src: url('/static/fonts/Choko.woff') format('woff');
    font-display: fallback;
}

@font-face {
    font-family: 'CursiveSans';
    src: url('/static/fonts/CursiveSans.woff') format('woff');
    font-display: fallback;
}

@font-face {
    font-family: 'Deftone';
    src: url('/static/fonts/Deftone.woff') format('woff');
    font-display: fallback;
}

@font-face {
    font-family: 'Foglihten';
    src: url('/static/fonts/Foglihten.woff') format('woff');
    font-display: fallback;
}

@font-face {
    font-family: 'LearningCurve';
    src: url('/static/fonts/LearningCurve.woff') format('woff');
    font-display: fallback;
}

@font-face {
    font-family: 'Pecita';
    src: url('/static/fonts/Pecita.woff') format('woff');
    font-display: fallback;
}

@font-face {
    font-family: 'Xiomara';
    src: url('/static/fonts/Xiomara.woff') format('woff');
    font-display: fallback;
}