:root {
    --header-height: 8vh;
    --header-width: 70%;

    --cara-red: #990000;
    --gray: rgba(221, 221, 221, 0.75);
    --yellow: #fffcc0;

}
/* 
@media only screen and (max-width: 800px) {
    :root {
    }
} */

body {
    background: var(--yellow);
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--yellow);
}

header {
    width: 96%;
    height: var(--header-height);

    background: var(--cara-red);

    position: fixed;
    top: 1vh;
    left: 2%;

    border-radius: 26px;
}

.header-sent-kard {
    width: calc(calc(100% - var(--header-width)) / 2);
    height: 100%;
    float: left;
}

.header-left-placeholder {
    width: calc(calc(100% - var(--header-width)) / 2);
    height: 100%;
    float: left;
}

.header-sent-kard-img {
    height: 4.5vh;
    margin-top: 1.75vh;
    float: left;
    margin-left: 4vw;

}

.logo {
    width: var(--header-width);
    height: 100%;

    float: left;
}

.logo-text {
    font-size: 5vh;
    margin-top: 1.75vh;
    font-family: "Mountains of Christmas", cursive;

    text-align: center;
}

.header-add-kard {
    width: calc(calc(100% - var(--header-width)) / 2);
    height: 100%;
    float: left;
}

.header-add-kard-img {
    height: 4.5vh;
    margin-top: 1.75vh;
    float: right;
    margin-right: 4vw;

}

.space {
    height: 8.5vh;
    width: 100%;
}

/* section */
section {
    width: 100%;
    height: auto;

    padding-top: 2vh;
    padding-bottom: 2vh;

    box-sizing: border-box;

    margin-top: 0;

    /* background: green; */
}

.kard {
    background: var(--gray);

    width: 96%;

    margin-left: 2%;

    border-radius: 13px;

    padding-top: 2.5vh;
    padding-bottom: 1vh;
    padding-left: 4vw;

    display: inline-block;
    box-sizing: border-box;

}

.kard-from {

    font-size: 2.25vh;

    height: 4vh;
    width: 100%;

    float: left;

    box-sizing: border-box;

    font-weight: 850;

    color: var(--cara-red);

    /* background: green; */
}

.kard-date {
    font-size: 2.25vh;

    height: 4vh;
    width: 100%;

    float: left;

    box-sizing: border-box;

    color: var(--cara-red);

    /* background: blue; */
}