<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/add.css">

<header>

    <div class="header">

        <a href="/">
            <div class="header-sent-kard">
                <img src="/static/img/back.png" alt="" class="header-sent-kard-img">
            </div>
        </a>

        <!-- <div class="header-left-placeholder"></div> -->

        <a href="/home">
            <div class="logo">
                <p class="logo-text">chards</p>
            </div>
        </a>

        <a href="/add">
            <div class="header-add-kard">
                <img src="/static/img/add-kard-filled-white.webp" alt="" class="header-add-kard-img">
            </div>
        </a>

    </div>

</header>

<div class="space"></div>

<section>

    <form class="form" method="post" enctype="multipart/form-data">
        <input type="text" name="to" class="form-to" placeholder="Destinatarul chard-ului..." required>

        <div class="form-spacer"></div>

        <div class="indicator">Alegeti fundalul chard-ului:</div>

        <div class="form-bgs">

            <input type="radio" name="background" value="1" id="bg1" required>
            <label class="form-bgs-card" for="bg1" style="background-image: url('/static/img//models/1.webp');"></label>

            <!-- <div class="form-bgs-spacer"></div> -->

            <input type="radio" name="background" value="2" id="bg2">
            <label class="form-bgs-card" for="bg2" style="background-image: url('/static/img//models/2.webp');"></label>

            <input type="radio" name="background" value="3" id="bg3">
            <label class="form-bgs-card" for="bg3" style="background-image: url('/static/img//models/3.webp');"></label>

            <input type="radio" name="background" value="4" id="bg4">
            <label class="form-bgs-card" for="bg4" style="background-image: url('/static/img//models/4.webp');"></label>

            <input type="radio" name="background" value="5" id="bg5">
            <label class="form-bgs-card" for="bg5" style="background-image: url('/static/img//models/5.webp');"></label>

            <input type="radio" name="background" value="6" id="bg6" >
            <label class="form-bgs-card" for="bg6" style="background-image: url('/static/img//models/6.webp'); background-size: 160%;"></label>
            
            <input type="radio" name="background" value="7" id="bg7">
            <label class="form-bgs-card" for="bg7" style="background-image: url('/static/img//models/7.webp');"></label>
            
            <input type="radio" name="background" value="8" id="bg8">
            <label class="form-bgs-card" for="bg8" style="background-image: url('/static/img//models/8.webp');"></label>
        
            <input type="radio" name="background" value="9" id="bg9">
            <label class="form-bgs-card" for="bg9" style="background-image: url('/static/img//models/9.webp');"></label>
        </div>

        <!-- <div class="form-spacer"></div>

        <div class="indicator">Alegeti orientarea imaginii</div>

        <div class="form-orientation">
            <input type="radio" name="orientation" value="p" id="portrait" required>
            <label class="form-orientation-card" for="portrait" style="background-image: url('/static/img/portrait-orientation.png')"></label>

            <input type="radio" name="orientation" value="l" id="landscape">
            <label class="form-orientation-card" for="landscape" style="background-image: url('/static/img/landscape-orientation.png')"></label>
        </div> -->

        <!-- <div class="form-spacer"></div> -->

        <div class="indicator">Alegeti o imagine pentru chard:</div>
        
        <div class="form-file-container">
            <input type="file" id="image" name="image" class="form-file-input" required>
            <!-- <label class="form-file" for="image">
                Incarcati o imagine
            </label> -->
        </div>

        <div class="indicator">Scrieti mesajul dorit:</div>

        <input type="text" class="form-message" name="message" placeholder="Mesajul dorit..." required>

        <div class="form-spacer"></div>

        <div class="indicator">Alegeti culoare fontului mesajului:</div>

        <div class="form-color">
            <input type="radio" name="font-color" id="color-1" value="red" required>
            <label class="form-color-card" for="color-1" style="color: var(--kard-red);">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font-color" id="color-2" value="green" required>
            <label class="form-color-card" for="color-2" style="color: var(--kard-green);">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font-color" id="color-3" value="gold" required>
            <label class="form-color-card" for="color-3" style="color: var(--kard-gold);">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font-color" id="color-4" value="silver" required>
            <label class="form-color-card" for="color-4" style="color: var(--kard-silver);">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font-color" id="color-5" value="blue" required>
            <label class="form-color-card" for="color-5" style="color: var(--kard-blue);">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font-color" id="color-6" value="black" required>
            <label class="form-color-card" for="color-6" style="color: var(--kard-black);">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>
        </div>

        <div class="form-spacer"></div>

        <div class="indicator">Alegeti fontul mesajului:</div>

        <div class="form-font">
            <input type="radio" name="font" id="font-1" value="Allura" require>
            <label class="form-font-card" for="font-1" style="font-family: 'Allura', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font" id="font-2" value="Caveat" require>
            <label class="form-font-card" for="font-2" style="font-family: 'Caveat', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font" id="font-3" value="Choko" require>
            <label class="form-font-card" for="font-3" style="font-family: 'Choko', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu.</span>
            </label>


            <input type="radio" name="font" id="font-4" value="CursiveSans" require>
            <label class="form-font-card" for="font-4" style="font-family: 'CursiveSans', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font" id="font-5" value="Deftone" require>
            <label class="form-font-card" for="font-5" style="font-family: 'Deftone', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font" id="font-6" value="Foglihten" require>
            <label class="form-font-card" for="font-6" style="font-family: 'Foglihten', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font" id="font-7" value="LearningCurve" require>
            <label class="form-font-card" for="font-7" style="font-family: 'LearningCurve', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font" id="font-8" value="Pecita" require>
            <label class="form-font-card" for="font-8" style="font-family: 'Pecita', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font" id="font-9" value="Xiomara" require>
            <label class="form-font-card" for="font-9" style="font-family: 'Xiomara', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu.</span>
            </label>
        </div>

        <button type="submit" class="form-button-submit">
            Trimite Chard-ul
        </button>

    </form>

    <div class="space"></div>

</section>
