<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/add.css">

<header>

    <div class="header">

        <a href="/">
            <div class="header-sent-kard">
                <img src="/static/img/back.png" alt="" class="header-sent-kard-img">
            </div>
        </a>

        <!-- <div class="header-left-placeholder"></div> -->

        <a href="/home">
            <div class="logo">
                <p class="logo-text">kards</p>
            </div>
        </a>

        <a href="/add">
            <div class="header-add-kard">
                <img src="/static/img/add-kard-filled-white.webp" alt="" class="header-add-kard-img">
            </div>
        </a>

    </div>

</header>

<div class="space"></div>

<section>

    <form class="form" method="post" enctype="multipart/form-data">
        <input type="text" name="to" class="form-to" placeholder="Destinatarul kard-ului..." required>

        <div class="form-spacer"></div>

        <div class="indicator">Alegeti fundalul kard-ului:</div>

        <div class="form-bgs">

            <input type="radio" name="background" value="1" id="bg1" required>
            <label class="form-bgs-card" for="bg1" style="background-image: url('/static/img//models/1.webp');"></label>

            <!-- <div class="form-bgs-spacer"></div> -->

            <input type="radio" name="background" value="2" id="bg2">
            <label class="form-bgs-card" for="bg2" style="background-image: url('/static/img//models/2.webp');"></label>

            <input type="radio" name="background" value="3" id="bg3">
            <label class="form-bgs-card" for="bg3" style="background-image: url('/static/img//models/3.webp');"></label>

            <input type="radio" name="background" value="4" id="bg4">
            <label class="form-bgs-card" for="bg4" style="background-image: url('/static/img//models/4.webp');"></label>

            <input type="radio" name="background" value="5" id="bg5">
            <label class="form-bgs-card" for="bg5" style="background-image: url('/static/img//models/5.webp');"></label>

        </div>

        <!-- <div class="form-spacer"></div>

        <div class="indicator">Alegeti orientarea imaginii</div>

        <div class="form-orientation">
            <input type="radio" name="orientation" value="p" id="portrait" required>
            <label class="form-orientation-card" for="portrait" style="background-image: url('/static/img/portrait-orientation.png')"></label>

            <input type="radio" name="orientation" value="l" id="landscape">
            <label class="form-orientation-card" for="landscape" style="background-image: url('/static/img/landscape-orientation.png')"></label>
        </div> -->

        <!-- <div class="form-spacer"></div> -->

        <div class="indicator">Alegeti o imagine pentru kard:</div>
        
        <div class="form-file-container">
            <input type="file" id="image" name="image" class="form-file-input" required>
            <!-- <label class="form-file" for="image">
                Incarcati o imagine
            </label> -->
        </div>

        <div class="indicator">Scrieti mesajul dorit:</div>

        <input type="text" class="form-message" name="message" placeholder="Mesajul dorit..." required>

        <div class="form-spacer"></div>

        <div class="indicator">Alegeti culoare fontului mesajului:</div>

        <div class="form-color">
            <input type="radio" name="font-color" id="color-red" value="red" required>
            <label class="form-color-card" for="color-red" style="color: var(--cara-red);">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font-color" id="color-red2" value="green">
            <label class="form-color-card" for="color-red2" style="color: green;">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font-color" id="color-red3" value="black">
            <label class="form-color-card" for="color-red3" style="color: black;">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>

            <input type="radio" name="font-color" id="color-red4" value="blue">
            <label class="form-color-card" for="color-red4" style="color:blue;">
                <span class="form-color-card-text">Acesta este un exemplu.</span>
            </label>
        </div>

        <div class="form-spacer"></div>

        <div class="indicator">Alegeti fontul mesajului:</div>

        <div class="form-font">
            <input type="radio" name="font" id="font-mountains" value="Mountains of Christmas" require>
            <label class="form-font-card" for="font-mountains" style="font-family: 'Mountains of Christmas', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu. ăîșț</span>
            </label>

            <input type="radio" name="font" id="font-christmas-crack" value="Christmas on Crack">
            <label class="form-font-card" for="font-christmas-crack" style="font-family: 'Christmas on Crack', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu. ăîșț</span>
            </label>

            <input type="radio" name="font" id="font-sanbsb" value="Sanbsb">
            <label class="form-font-card" for="font-sanbsb" style="font-family: 'Sanbsb', cursive;">
                <span class="form-font-card-text">Acesta este un exemplu. ăîșț</span>
            </label>


        </div>

        <button type="submit" class="form-button-submit">
            Trimite Felicitarea
        </button>

    </form>

    <div class="space"></div>

</section>
