<link rel="stylesheet" href="/static/css/home.css">

<header>

    <div class="header">

        <a href="/sent">
            <div class="header-sent-kard">
                <img src="/static/img/sent-kard-white.png" alt="" class="header-sent-kard-img">
            </div>
        </a>

        <!-- <div class="header-left-placeholder"></div> -->

        <a href="/home">
            <div class="logo">
                <p class="logo-text">kards</p>
            </div>
        </a>

        <a href="/add">
            <div class="header-add-kard">
                <img src="/static/img/add-kard-filled-white.webp" alt="" class="header-add-kard-img">
            </div>
        </a>

    </div>

</header>

<div class="space"></div>

<section>
 
    {% if kards %}

        <div class="indicator">
            Acestea sunt kard-urile primite de la alte persoane.
        </div>

        {% for kard in kards %}

            <a href="/kard/{{ kard.KardID }}?prev=home">
                <div class="kard">
                    <div class="kard-from">
                        De la: {{ kard.FromName }} ({{ kard.From }})
                    </div>

                    <div class="kard-date">
                        {{ kard.CreatedAt.Day }}.{{ kard.CreatedAt.Month }}.{{ kard.CreatedAt.Year }}
                    </div>
                </div>
            </a>

        {% endfor %}

    {% else %}

        <p class="nothing">Nu aveti inca corespondenta.</p>

    {% endif %}


</section>

<a href="/help">
    <div class="to-help">
        <img src="/static/img/help.webp" alt="" class="to-help-img">
    </div>
</a>
