<link rel="stylesheet" href="/static/css/home.css">


<header>

    <div class="header">

        <!-- <a href="/sent">
            <div class="header-sent-kard">
                <img src="/static/img/sent-kard-white.png" alt="" class="header-sent-kard-img">
            </div>
        </a> -->

        <div class="header-left-placeholder"></div>

        <a href="/home">
            <div class="logo">
                <p class="logo-text">kards</p>
            </div>
        </a>

        <!-- <a href="/add">
            <div class="header-add-kard">
                <img src="/static/img/add-kard-filled-white.webp" alt="" class="header-add-kard-img">
            </div>
        </a> -->

        <div class="header-add-akrd"></div>

    </div>

</header>

<section>
    <p class="nothing">A aparut o eroare: Kard-ul nu a putut fi gasit. Apasati pe logo pentru a merge acasa.</p>
</section>