<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/sent.css">

<header>

    <div class="header">

        <!-- <a href="/sent">
            <div class="header-sent-kard">
                <img src="/static/img/sent-kard-white.png" alt="" class="header-sent-kard-img">
            </div>
        </a> -->

        <div class="header-left-placeholder"></div>

        <a href="/home">
            <div class="logo">
                <p class="logo-text">kards</p>
            </div>
        </a>

        <a href="/add">
            <div class="header-add-kard">
                <img src="/static/img/add-kard-filled-white.webp" alt="" class="header-add-kard-img">
            </div>
        </a>

    </div>

</header>

<div class="space"></div>

<section>

    <div class="indicator">
        Acestea sunt kard-urile trimise de dvs.
    </div>

    <div class="kard">
        <div class="kard-from">
            Nume Prenume
        </div>

        <div class="kard-date">
            00.00.0000
        </div>
    </div>

</section>
